* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.a {
    margin: 50px;
    padding: 70px;
    display: inline-block;
    font-size: xx-large;
    font-family: fantasy;
    color: rgb(98, 183, 216);
    -webkit-text-stroke: 1px black;
    background-image: url(./istockphoto-610426496-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.menu {
    list-style-type: none;
    margin: 5px;
    padding: 5px;

}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;

}

.menu li a {
    font-size: x-large;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    color: black;

}

.menu li:hover {
    color: blueviolet;
    background-color: lightskyblue;
    border-radius: 50%;
}

.titulo {
    margin: 10px;
    padding: 10px;
    color: cornflowerblue;
    font-family: 'Abril Fatface', cursive;
}

.subt {
    margin: 15px;
    padding: 20px;
    color: darkslategray;
    font-family: 'Bebas Neue', cursive;
}

.relato {
    margin: 10px;
    padding: 10px;
    text-align: start;
    line-height: 1cm;
    color: lightslategray;
    font-family: 'Marhey', cursive;
}

.saf {
    font-family: 'Sriracha', cursive;
    text-decoration: underline;
    margin-left: 2%;
    background-image: url(../multimedia/acuarela.jpg);
    background-repeat: no-repeat;
    background-size: 100ch left;
}

.lista {
    margin: 1%;
    padding: 2%;
    line-height: 1cm;
}

.lista li {
    font-family: 'Black Ops One', cursive;

}